html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  font-style: italic;
}
