html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: block;
  transform: translate(0, 0);
}

.banner-content {
  position: absolute;
  bottom: 1em;
  width: 100%;
  max-width: 50em;
}

.banner-content h2,
.banner-content p {
  margin: 0;
}

h2 {
  display: inline;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 4rem;
}

p {
  font-size: 2rem;
  max-width: 50rem;
  font-style: italic;
  padding-top: 1rem;
}

.content {
  text-align: left;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}
